<footer class="footer "style="background-image: url(https://t3.ftcdn.net/jpg/02/45/92/48/360_F_245924891_Dom1MV2inplpnTBtHjpGv9Ha8KvSbTge.jpg">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://teamdev.tn/">
                        TeamDev
                    </a>
                </li>
              <!-- <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>-->
                <li>
                    
                </li>
                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="https://www.creative-tim.com" target="_blank"></a> 
        </div>
    </div>
</footer>
