 /* div{
 background-image:url("https://i.pinimg.com/236x/e5/51/c2/e551c29f710bab43cf0c81ddf2f63376.jpg")!important 
 
} */

  /* .card :hover {
        scale: 1.4;
        transition: all ease-in-out 0.2s;
    } */

   